<!DOCTYPE html>
<html>

<head>
    <title> Корзина </title>
    <script src="https://js.stripe.com/v3/"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{ user_cart }}</h1>
    <ul>
        {% for item in user_items %}
        <li>
            <a href="http://127.0.0.1:8000/item/{{ item.id }}">
                {{ item.0 }}
            </a>
            <span>, Цена: {{ item.0.price }} {{ item.0.currency }}, Количество: {{ item.1 }}</span>
        </li>
        <br>
        {% endfor %}
    </ul>
    <p>Всего: {{ amount }} {{ currency }}</p>
    <p>Скидка: {{ discount }} {{ currency }}</p>
    <p>{{ tax_rate.name }}: {{ tax }} {{ currency }}</p>
    <p>Итого: {{ total }} {{ currency }}</p>
    <br>
    <button type="button" id="checkout-button">Buy</button>
    {% csrf_token %}
<!--Здесь переходим на платежную форму при нажатии на кнопку Buy-->
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
        // Передача объекту Stripe публичного ключа
        var stripe = Stripe("{{ publish_key }}");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("{% url 'payment:buy' user_cart.id %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
                .then(function (response) {
                    return response.json();
                })
                // Редирект на Stripe форму
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id }); 
                })
                .then(function (result) {
                    // Обработка ошибки если не удается выполнить переадресацию
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Ошибка при перенаправлении на страницу оплаты:", error);
                });
        });
    </script>
    <br>
    {% include 'payment/return.html' %}
    <br>
    <form action="{% url 'payment:delete' user_cart.user %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Очистить корзину">
    </form>
</body>
</html>