<!DOCTYPE html>
<html>
<head>
    <title>Магазин</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Каталог товаров</h1>
    <ul>
        {% for i in data %}
        <li>
            <a href="{% url 'payment:item_detail' i.id %}">
                {{ i.name }}
            </a>
            <span> - Цена: {{ i.price }} {{ i.currency }}</span>
        </li>
        <br>
        {% endfor %}
    </ul>
    <form action="{% url 'payment:cart' user %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Корзина товаров ">
    </form>
</body>
</html>