<!DOCTYPE html>
<html>

<head>
    <title>{{ item.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <form method="post">
            {% csrf_token %}
            <h1>{{ item.name }}</h1>
            <p>Цена: {{ item.price }} {{ item.currency }}</p>
            <p>Описание: {{ item.description }}</p>
            <button type="submit" name="item" value="{{ item.id }}">Добавить в корзину</button>
        </form>
        <br>
        <form action="{% url 'payment:index' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Вернуться в каталог товаров">
        </form>
    </section>
</body>
</html>